<article id="about">

	<div class="container">

		<div class="page-title">
			<%= @document['article.title'] ? @document['article.title'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
			<%= @document['article.lede'] ? @document['article.lede'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
		</div>


		<div class="row">
			<% @staff.each do |staff_member| %>

				<div class="col-md-3 staff" id="<%= staff_member.id %>">
					<p class="photo">
						<span data-picture>
							<span data-src="<%= staff_member['author.photo'] && staff_member['author.photo'].get_view("large") ? staff_member['author.photo'].get_view("large").url : '' %>"></span>
						    <span data-src="<%= staff_member['author.photo'] && staff_member['author.photo'].get_view("large") ? staff_member['author.photo'].get_view("large").url : '' %>" data-media="(max-width: 991px)"></span>
						    <noscript>
						        <img src="<%= staff_member['author.photo'] && staff_member['author.photo'].get_view("large") ? staff_member['author.photo'].get_view("large").url : '' %>">
							</noscript>
						</span>
					</p>
					<h3><%= staff_member['author.fullname'] ? staff_member['author.fullname'].as_text : '' %></h3>
					<p class="title"><%= staff_member['author.title'] ? staff_member['author.title'].value : '' %>
					<p><%= staff_member['author.description'] ? staff_member['author.description'].as_html_safe(link_resolver(@maybe_ref)) : '' %></p>
				</div>

			<% end %>
		</div>
		
	</div>

</article>