<div class="container">
	<%= render partial: "blognav" %>
</div>

<article id="blog-list">

	<div class="container">

		<% if @documents.empty? %>
			<div class="empty">
				<h3>No document matches your search. Search again?</h3>
				<%= render partial: "blogsearch" %>
			</div>
		<% end %>

		<% @documents.each do |document| %>
			<a href="<%= blogpost_path(document.id, document.slug, ref: @maybe_ref) %>" class="row blog-post">
				<div class="col-md-3 col-md-offset-2 image">
					<p>
						<%= document['blog.image'] && document['blog.image'].get_view('medium') ? document['blog.image'].get_view('medium').as_html_safe(link_resolver(@maybe_ref)) : '' %>
					</p>
				</div>
				<div class="col-md-5 preview">
					<h2>
						<%= document.first_title %>
					</h2>
					<p class="date">
						On <%= document['blog.date'] ? document['blog.date'].value.strftime("%b %-d %Y") : '' %>
					</p>
					<%= document['blog.shortlede'] ? document['blog.shortlede'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
				</div>
			</a>
		<% end %>

	</div>

</article>