<article id="homepage">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      
      <%= @document.fragments["headline"].as_html(link_resolver(@ref)).html_safe %>

      <%= @document.fragments["description"].as_html(link_resolver(@ref)).html_safe %>

      <p><%= link_to @document.fragments["cta_label"].value + " »", tour_path, :class => "btn btn-primary btn-lg", :role => "button" %></p>

    </div>
  </div>


  <div class="container section-title">
    <%= @document.fragments["title_user_friendly"].as_html(link_resolver(@ref)).html_safe %>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <% @user_friendly_arguments.each do |argument| %>
        <div class="col-md-4">
          <p class="argument-image"><%= argument.fragments["icon"].views[1].as_html(link_resolver(@ref)).html_safe %></p>
          <%# .views[1] is to be replaced by .get_view['medium'] when the method is fixed in the gem  %>
          <h3><%= argument.fragments["catcher_title"].blocks[0].text %></h3>
          <%= argument.fragments["catcher_description"].as_html(link_resolver(@ref)).html_safe %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="container section-title">
    <%= @document.fragments["title_design"].as_html(link_resolver(@ref)).html_safe %>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <% @design_arguments.each do |argument| %>
        <div class="col-md-4">
          <p class="argument-image"><%= argument.fragments["icon"].views[1].as_html(link_resolver(@ref)).html_safe %></p>
          <%# .views[1] is to be replaced by .get_view['medium'] when the method is fixed in the gem  %>
          <h3><%= argument.fragments["catcher_title"].blocks[0].text %></h3>
          <%= argument.fragments["catcher_description"].as_html(link_resolver(@ref)).html_safe %>
        </div>
      <% end %>
    </div>
  </div>

</article>