<article id="pricing">

	<div class="container">

		<div class="page-title">
			<%= @document.fragments["title"].as_html(link_resolver(@ref)).html_safe %>
			<%= @document.fragments["lede"].as_html(link_resolver(@ref)).html_safe %>
		</div>


		<div class="row plans">
			<% @plans.each do |plan| %>

				<div class="col-md-4 plan">
					<div class="planframe" style="background-color: #<%= plan.fragments["color"].value %>">
						<h2><%= plan.fragments["name"].blocks[0].text %></h2>
						<h4>Best for:</h4>
						<%= plan.fragments["bestfor"].as_html(link_resolver(@ref)).html_safe %>
						<h2>$<%= plan.fragments["price"].value.to_i %> /mo</h2>
						<p>Get <%= plan.fragments["magnitude"].value.to_i %>% of your world changed.</p>
						<p><%= link_to "Learn more", tour_path, :class => "btn btn-primary" %></p>
					</div>
				</div>

			<% end %>
		</div>
		
	</div>

</article>