<article id="pricing">

	<div class="container">

		<div class="page-title">
			<%= @document['article.title'] ? @document['article.title'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
			<%= @document['article.lede'] ? @document['article.lede'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
		</div>


		<div class="row plans">
			<% @plans.each do |plan| %>

				<div class="col-sm-4 plan" style="background-image: url('<%= plan['pricing.image'].get_view('icon').url %>')">
					<p class="price">$<%= plan['pricing.price'] ? plan['pricing.price'].value.to_i : '' %>/mo</p>
					<h2><%= plan['pricing.name'] ? plan['pricing.name'].as_text : '' %></h2>
					<p><%= plan['pricing.bestfor'] ? plan['pricing.bestfor'].as_text.capitalize : '' %></p>
					<p>Get <%= plan['pricing.magnitude'] ? plan['pricing.magnitude'].value.to_i : '' %>% of your world changed.</p>
					<p><%= link_to "Learn more", tour_path(ref: @maybe_ref), :class => "btn btn-pricing" %></p>
				</div>

			<% end %>
		</div>

		<%= render partial: "faqaccordion", locals: { questions: @questions } %>
		
	</div>

</article>