<article id="tour">

	<div class="container">

		<div class="page-title">
			<%= @document['article.title'] ? @document['article.title'].as_html_safe(link_resolver(maybe_ref)) : '' %>
			<%= @document['article.lede'] ? @document['article.lede'].as_html_safe(link_resolver(maybe_ref)) : '' %>
		</div>

	</div>

	<%#
		This will allow us to know where we're at compared to previous arguments,
		and do stuff like "if we're right after the large-bright-image argument, then"
	%>
	<% stage = :init %>

	<% @arguments.each do |argument| %>

		<% if stage == :init && argument['argument.photo'] %>
			<%# A photo is there: this is the "large-bright-image" case %>
			<div id="<%= argument.id %>" class="large-image large-bright-image container">
				<style type="text/css">
					#<%= argument.id %> {background-image: url('<%= argument['argument.photo'].get_view('large').url %>')}
					@media (max-width: 992px) {
						#<%= argument.id %> {background-image: url('<%= argument['argument.photo'].get_view('medium').url %>')}
					}
					@media (max-width: 500px) {
						#<%= argument.id %> {background-image: url('<%= argument['argument.photo'].get_view('small').url %>')}
					}
				</style>
				<div class="row">
					<div class="col-sm-5 col-sm-offset-7">
						<h2><%= argument['argument.title'] ? argument['argument.title'].as_text : '' %></h2>
						<%= argument['argument.catcher_description'] ? argument['argument.catcher_description'].as_html_safe(link_resolver(maybe_ref)) : '' %>
					</div>
				</div>
			</div>
			<% stage = :right_after_large_bright_image %>

		<% elsif stage == :right_after_large_bright_image || stage == :one_after_large_bright_image %>

			<%# The two next arguments after the "large-bright-image" case %>

			<% if stage == :right_after_large_bright_image %>
				<div class="container"><div class="row">
			<% end %>

			<div id="<%= argument.id %>" class="half-regular col-sm-5 col-sm-offset-1">
				<img class="icon" src="<%= argument['argument.icon'] && argument['argument.icon'].get_view('small') ? argument['argument.icon'].get_view('small').url : '' %>">
				<h2><%= argument['argument.title'] ? argument['argument.title'].as_text : '' %></h2>
				<%= argument['argument.description'] ? argument['argument.description'].as_html_safe(link_resolver(maybe_ref)) : '' %>
			</div>

			<% if stage == :one_after_large_bright_image %>
				</div></div>
			<% end %>
			<% stage = :init if stage == :one_after_large_bright_image %>
			<% stage = :one_after_large_bright_image if stage == :right_after_large_bright_image %>

		<% elsif stage == :init && argument['argument.panoramaphoto'] %>
			<%# A photo is there: this is the "large-dark-image" case %>
			<div id="<%= argument.id %>" class="large-image large-dark-image">
				<style type="text/css">
					#<%= argument.id %> {background-image: url('<%= argument['argument.panoramaphoto'].get_view('large').url %>')}
					@media (max-width: 992px) {
						#<%= argument.id %> {background-image: url('<%= argument['argument.panoramaphoto'].get_view('medium').url %>')}
					}
					@media (max-width: 500px) {
						#<%= argument.id %> {background-image: url('<%= argument['argument.panoramaphoto'].get_view('small').url %>')}
					}
				</style>
				<div class="container">
					<h2><%= argument['argument.title'] ? argument['argument.title'].as_text : '' %></h2>
					<%= argument['argument.description'] ? argument['argument.description'].as_html_safe(link_resolver(maybe_ref)) : '' %>
				</div>
			</div>
			<% stage = :right_after_large_dark_image %>

		<% elsif stage == :right_after_large_dark_image || stage == :one_after_large_dark_image %>

			<%# The two next arguments after the "large-bright-image" case %>

			<% if stage == :right_after_large_dark_image %>
				<div class="container"><div class="row regular-panels">
			<% end %>

			<div id="<%= argument.id %>" class="regular-panel col-sm-6">
				<h2><%= argument['argument.title'] ? argument['argument.title'].as_text : '' %></h2>
				<%= argument['argument.description'] ? argument['argument.description'].as_html_safe(link_resolver(maybe_ref)) : '' %>
			</div>

			<% if stage == :one_after_large_dark_image %>
				</div></div>
			<% end %>
			<% stage = :init if stage == :one_after_large_dark_image %>
			<% stage = :one_after_large_dark_image if stage == :right_after_large_dark_image %>

		<% else %>
			<%# Other cases %>
			<div id="<%= argument.id %>" class="container regular" style="background-image: url('<%= argument['argument.icon'] && argument['argument.icon'].get_view('small') ? argument['argument.icon'].get_view('small').url : '' %>')">
				<h2><%= argument['argument.title'] ? argument['argument.title'].as_text : '' %></h2>
				<%= argument['argument.description'] ? argument['argument.description'].as_html_safe(link_resolver(maybe_ref)) : '' %>
			</div>
		<% end %>

	<% end %>


	<%= render partial: "minimumplans", locals: { homepage: @homepage } %>

</article>
